
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Content block -->
{%block content%}

<div class="col-md-12">
    <div class="container">
        <div class="jumbotron" style="background-color:bisque;">
            <div class="row">
                <div class="col-md-6">
                    
                        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Shadows+Into+Light+Two|Viga&display=swap" rel="stylesheet">

                    <h3 style="font-family: 'Viga', sans-serif;;text-align:center;border-bottom:5px solid black;padding: 30px;">{{blog.blog_title}}</h3>
                
                    <p style="margin-top :50px;">{{blog.blog_content}}</p>
                    <span>
                    <p style="margin-top :30px;margin-bottom :50px;">Posted on {{date}} by {{blog.user.username| capitalize}}</p>
                    
                    {% if current_user.is_authenticated %}
                    {{ wtf.quick_form(comment_form) }}
                    {%endif%}
                
                 </div>
                <div class="col-md-6">
                        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Shadows+Into+Light+Two|Viga&display=swap" rel="stylesheet">
                <h4 style="font-family: 'Viga', sans-serif;;text-align:center;border-bottom:5px solid black;padding: 30px;">Comments</h4>
                    
                    {{macro.displayComments(comments)}}
                </div> 
            </span>
        </div>
      
    </div>
</div>
{%endblock%}}