{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Content block -->
{%block content%}

<div class="col-md-12">
    <div class="container">
        <div class="jumbotron" style="background-color:bisque;">
            <h3>{{blog.blog_title}}</h3>
            <hr>
            <p>{{blog.blog_content}}</p>
            <span>
                <p>Posted on {{date}} by {{blog.user.username| capitalize}}</p>
                <!-- </div>   -->
                <!-- </div>
    <div class="row"> -->
                <h4 style="padding:20px;">Comments</h4>
                <hr>
                {{macro.displayComments(comments)}}
                {% if current_user.is_authenticated %}
                {{ wtf.quick_form(comment_form) }}
                {%endif%}
                
            </span>
        </div>
    </div>
</div>
{%endblock%}}