{% macro displayBlogs(blogs_list)%}
    {%for blog in blogs_list%}
       
<div class="container" style="font-family: 'Indie Flower', cursive;">

        <div class="row">
                <div class="col-md-4">
                        <h2>Publish your blog here</h2>
                         <p>You can share your thoughts and ideas with other people through blogging,by
                             reading published blogs or publish your own blog about an category you want .
                             Health , Education ,Mativation and Insipration ,funny,Vission ,Passion etc .
                         </p>
                       </div>
           <div class="col-md-4">
            
                    <h4>{{blog.blog_title}}</h4>
                    <p>{{blog.blog_content| truncate}}</p>
                    <p>Written by:  {{blog.user.username}}</p>
                    <a href="/blog/{{blog.id}}" class="btn  pull-right" style="background-color:grey">Read</a> </p>
                    <a href="/delete_blog/{{blog.id}}" class="btn btn-danger pull-right" style="margin-bottom:60px;">Delete Blog</a>
            </div>
            <div class="col-md-4">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVqxrPf7GLfX66coFrH3L8ey_W0RVCqgsm4NJn8WCc59VlYVYy">
            </div>
            
                        
            
        </div > 
</div>
    {%endfor%}
{%endmacro%}


{%macro displayComments(comments_list)%}
    {%for comment in comments_list%}
        <div class="col-md-12">
            <h5>{{comment.user.username}}</h5>
            <p>{{comment.comment}}</p>
        </div>
    {%endfor%}
{%endmacro%}