{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="jumbotron" style="background-color:bisque;">
                    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
                <h3 style="text-align:center;font-family: 'Shadows Into Light Two', cursive">write a blog your blog here</h3>
           
                {{ wtf.quick_form(blog_form) }}
            </div>
        </div>

    </div>

{% endblock %}